<h1>This is the Home Page</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Castiglione, and the One Month team">
    <title>FTI Foodtech International Inc.</title>
   
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>



  


    <div class="container">
      <h2>Welcome to Our Website!</h2>
    


    <!-- CAROUSEL --> 
    <div class="banner">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/dripbig.gif" alt="CleanTab">
            <div class="carousel-caption">
              <img src="images/cleantablogo.gif" alt="CleanTab">
            </div>
          </div>
          <div class="item">
            <img src="images/oxytabbg.gif" alt="OxyTab">
            <div class="carousel-caption">
              <img src="images/oxytablogo.gif" alt="OxyTab">
            </div>
          </div>
          <div class="item">
            <img src="images/steritabbg.gif" alt="SteriTab">
            <div class="carousel-caption">
              <img src="images/steritablogo.gif" alt="SteriTab">
            </div>
          </div>
          <div class="item">
            <img src="images/airtabbg.gif" alt="AirTab">
            <div class="carousel-caption">
              <img src="images/airtablogo.gif" alt="AirTab">
            </div>
          </div>
          <div class="item">
            <img src="images/pooltabbg.gif" alt="PoolTab">
            <div class="carousel-caption">
                <img src="images/pooltablogo.gif" alt="PoolTab">
            </div>
          </div>
        </div><!-- .carousel-inner --> 

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- .carousel --> 
    </div><!-- .banner --> 
</div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>