<!-- FOOTER -->
    <footer class="ftigreenbg">
    	<div class="container">
    		  <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>TSX Venture Listed - Symbol: FTI</p>
	        <p>Address:  156 Abbeywood Trail, Don Mills, Toronto, Ontario, Canada  M3B3B7</p>
	        <p>Telephone: 416-444-1058     Email: <a href="mailto:info@fti-foodtech.com"><i class="fa fa-envelope-o"></i> info@fti-foodtech.com</a>           
	        <p>Copyright © 2014 FTI Foodtech International Inc.</p>
	        </p>
	        <p>Website by <a href="http://www.garyhullah.com" target="_blank">Gary Hulllah.</a></p>
  		</div>
    </footer>
<!-- End of FOOTER -->